.game-board {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background-image: url('/assets/img/background_ringoffire.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-stack {
    position: relative;

    img {
        position: absolute;
        width: 140px;
    }
}

.top-card {
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.1) translateY(-10px);
    }
}

.played-cards {
    right: 25px;
    transform: scale(1.0) translateX(150px) translateY(-220px) rotate(-10deg);
}

.pick-card {
    animation: pick-card-animation 1s ease-in-out;
    transform: scale(1.3) translateX(150px) translateY(-220px) rotate(-10deg);
}



@keyframes pick-card-animation {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.7);
    }

    60% {
        transform: scale(1.7);
    }

    100% {
        transform: scale(1.0) translateX(150px) translateY(-220px) rotate(-10deg);
    }
}


.scroll-mobile {
  
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;

    app-player-mobile {
        margin-left: 8px;
    }
}

.avatar-postion {
    position: absolute;
    right: 0;
    z-index: 1;
}

.button-add {
    z-index: 1;
    position: absolute;
    right: 32px;
    bottom: 12px;
}

.info-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

}

.d-none {
    display: none;
}

@media only screen and(max-width:1023px) {

    .button-add {
        right: 18px;
        bottom: 18px;
    }

    .card-stack {
        position: relative;
        margin-bottom: 100px;
    }

    .played-cards {
        transform: scale(1.0) translateX(180px) translateY(-20px) rotate(-10deg);
    }

    .pick-card {
        animation: pick-card-animation 1s ease-in-out;
        transform: scale(1.3) translateX(180px) translateY(-20px) rotate(-10deg);
    }


    @keyframes pick-card-animation {
        0% {
            transform: scale(1);
        }

        40% {
            transform: scale(1.2) translateY(-20px);
        }

        60% {
            transform: scale(1.2) translateY(-20px);
        }

        100% {
            transform: scale(1.0) translateX(180px) translateY(-20px) rotate(-10deg);
        }
    }
}

@media only screen and (max-width:281px) {
    .card-stack {
        img {
            width: 100px;
        }
    }

    .played-cards {
        right: 25px;
        width: 100px;
        transform: scale(1.0) translateX(140px) translateY(-20px) rotate(-10deg);
    }

    .pick-card {
        animation: pick-card-animation 1s ease-in-out;
        transform: scale(1.3) translateX(140px) translateY(-20px) rotate(-10deg);
    }

    @keyframes pick-card-animation {
        0% {
            transform: scale(1);
        }

        40% {
            transform: scale(1.7);
        }

        60% {
            transform: scale(1.7);
        }

        100% {
            transform: scale(1.0) translateX(140px) translateY(-20px) rotate(-10deg);
        }
    }
}